.chatScrollArea {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.chatScrollArea::-webkit-scrollbar {
  width: 0.25rem;
}

.chatScrollArea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: white;
}
