@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 100%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 0 100%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0 100%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Rely on normalize.css to provide a consistent cross-browser experience */

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* Allow percentage-based heights in the application */
  height: 100%;

  background-color: black;
  color: white;
}

/*
  Create a root stacking context
*/
/* stylelint-disable-next-line selector-id-pattern */
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
